body{
 
}
.fon{
  display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height:80vh;
    color: white;
    background-image: 
       url(imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#navbarNavDropdown{
    text-align: right;
    float: right;
  margin-left: 200px;
}
.nav-item:hover{
    text-decoration: underline;
  
}
#titulo{
  font-family:'Lobster', cursive; ;
  font-size: 40px;
  text-decoration: underline;
  color: rgb(241, 247, 241);
}
table{
  width: 65%;
  background-color: rgba(255, 255, 255, 0.87);
  color: rgb(9, 9, 56);
  text-align: center;
  
}

table, th, td {
  text-align: center;
  color: rgb(9, 9, 56);
  border: 1px solid black;
 border-radius: 15px;
}

th, td {
  padding: 10px;
}

th{
  text-align: center;
}
.bot:hover{
text-decoration: underline;
}
.bi{
  background: white;
  color: rgb(26, 107, 26);
  font-size: 2rem;
 }

 .tex{
  text-align: center;
 }